# https://gohugo.io/hosting-and-deployment/hosting-on-github/

name: GitHub Pages

on:
  push:
    branches:
      - master  # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
          lfs: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify
        working-directory: docs

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.8.1'
          channel: 'stable'

      - name: Build File Transfer Flutter Web Client
        run: |
          flutter config --enable-web
          flutter pub get
          flutter build web --release --base-href '/xrcapstone22wi-team8/outside/'
        working-directory: boardless_outside

      - name: Copy File Transfer to Deployment Folder
        run: mv ./boardless_outside/build/web/ ./docs/public/outside/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
